.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: calc(100% - 64px);
}

mat-sidenav {
  width: 16.875rem;
}

.content {
  display: grid;
  margin: 0.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  router-outlet + * {
    grid-row: 1 / 2;
  }
}
