<div class="container__page">
    <div class="container_page_1">
        <km-job-applicant-list></km-job-applicant-list>
    </div>

    <div class="container_page_2">

        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Navegación
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-nav-list>
                <a mat-list-item [routerLink]="['nuevo']"> Agregar Postulante </a>
            </mat-nav-list>

        </mat-expansion-panel>

    </div>
</div>